@{
    ViewData["Title"] = "Home Page";
}

<!-- Sliders Section  -->
 
<section class="slider-container">
    <div id="carouselExampleIndicators"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button class="round-btn active"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button class="round-btn"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button class="round-btn"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button class="round-btn"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button class="round-btn"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div id="slide1" class="carousel-item active">
                <picture>
                    <source media="(max-width: 575px)"
                            srcset="
                  https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/EAP23Top3UpdateMob..png
                " />
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/EAP23Top3UpdateWeb.png"
                         class="container-lg d-block w-100"
                         alt="..." />
                </picture>
            </div>
            <div id="slide2" class="carousel-item">
                <picture>
                    <source media="(max-width: 575px)"
                            srcset="
                  https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/2.png
                " />
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/1.png"
                         class="container-lg d-block w-100"
                         alt="..." />
                </picture>
            </div>
            <div id="slide3" class="carousel-item">
                <picture>
                    <source media="(max-width: 575px)"
                            srcset="
                  https://udvash-unmesh.com//media/Images/Udvash/sliderimage/2024/DU2024Top3Mob1.png
                " />
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/sliderimage/2024/DU2024Top3Web1.png"
                         class="container-lg d-block w-100"
                         alt="..." />
                </picture>
            </div>
            <div id="slide4" class="carousel-item">
                <picture>
                    <source media="(max-width: 575px)"
                            srcset="
                  https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/Kha02.png
                " />
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/Kha01.png"
                         class="container-lg d-block w-100"
                         alt="..." />
                </picture>
            </div>
            <div id="slide5" class="carousel-item">
                <picture>
                    <source media="(max-width: 575px)"
                            srcset="
                  https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/Kha04.png
                " />
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/sliderimage/z/Kha03.png"
                         class="container-lg d-block w-100"
                         alt="..." />
                </picture>
            </div>
        </div>
    </div>
</section>

<!-- Main Section  -->

<main>
    <!-- Progrmas Section  -->

    <section class="program-container-lg">
        <div class="container-lg py-3 py-lg-5">
            <h1 class="fw-bold text-center program-title mb-3 mb-md-4 mb-lg-5">
                সময়োপযোগী প্রোগ্রামসমূহ
            </h1>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <select class="dropdowns" name="classes" id="classes">
                        <option value="">All Class</option>
                        <option value="six">Six</option>
                        <option value="seven">Seven</option>
                        <option value="eight">Eight</option>
                        <option value="nine">Nine</option>
                        <option value="ten">Ten</option>
                        <option value="model-test">Model Test</option>
                        <option value="admission">Admission</option>
                    </select>
                </div>
                <div class="col">
                    <select class="dropdowns" name="classes" id="classes">
                        <option value="">All Program</option>
                        <option value="offline">Offline Program</option>
                        <option value="online">Online Program</option>
                    </select>
                </div>
                <div class="col">
                    <select class="dropdowns" name="classes" id="classes">
                        <option value="">All Type</option>
                        <option value="paid">Paid Program</option>
                        <option value="free">Free Program</option>
                    </select>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mt-lg-5 mt-md-4 mt-3">
                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/zz%20(4).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                প্যারালাল Text (ষষ্ঠ-দ্বাদশ)
                            </h5>
                            <ul class="card-text mx-0">
                                <li>দৃঢ় বেসিক গঠনে কনসেপ্ট ভিত্তিক আলোচনা</li>
                                <li>বাস্তব উদাহরণ, গল্প এবং চিত্রালোকে সাজানো</li>
                                <li>
                                    সংজ্ঞা, বৈশিষ্ট্য, পার্থক্য ইত্যাদি নির্দেশকের মাধ্যমে
                                    পৃথককরণ
                                </li>
                                <li>
                                    বোর্ড ও এডমিশন প্রশ্ন-সমাধান ব্যাখ্যাসহকারে বিশ্লেষণ
                                </li>
                                <li>প্র্যাকটিস ও গাণিতিক সমস্যাবলি সংযোজন</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-1">Datails</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/1%20(1).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                মেডিকেল + ভার্সিটি Math এডমিশন প্রোগ্রাম 2025
                            </h5>
                            <ul class="card-text mx-0">
                                <li>মেধাবী ও অভিজ্ঞ শিক্ষক দ্বারা ক্লাস</li>
                                <li>লাইভ ম্যারাথন ক্লাস</li>
                                <li>প্রশ্নব্যাংক মাস্টার ক্লাস ও কুইজ</li>
                                <li>পর্যাপ্ত সংখ্যক স্ট্যান্ডার্ড এক্সাম</li>
                                <li>মানসম্মত সকল স্টাডি ম্যাটেরিয়ালস</li>
                                <li>ডাউট সলভিংয়ে সার্বক্ষণিক Q & A সেবা</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-2">Offline</button>
                            <button class="program-btn-3">Online/Combo</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/zz%20(3).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                ইঞ্জিনিয়ারিং + Biology এডমিশন প্রোগ্রাম 2025
                            </h5>
                            <ul class="card-text mx-0">
                                <li>মেধাবী ও অভিজ্ঞ শিক্ষক দ্বারা ক্লাস</li>
                                <li>লাইভ ম্যারাথন ক্লাস</li>
                                <li>প্রশ্নব্যাংক মাস্টার ক্লাস ও কুইজ</li>
                                <li>পর্যাপ্ত সংখ্যক স্ট্যান্ডার্ড এক্সাম</li>
                                <li>মানসম্মত সকল স্টাডি ম্যাটেরিয়ালস</li>
                                <li>ডাউট সলভিংয়ে সার্বক্ষণিক Q & A সেবা</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-2">Offline</button>
                            <button class="program-btn-3">Online/Combo</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/zz%20(1).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                ভার্সিটি ‘ক’ & GST এডমিশন প্রোগ্রাম 2025
                            </h5>
                            <ul class="card-text mx-0">
                                <li>দৃঢ় বেসিক গঠনে কনসেপ্ট ভিত্তিক আলোচনা</li>
                                <li>বাস্তব উদাহরণ, গল্প এবং চিত্রালোকে সাজানো</li>
                                <li>
                                    সংজ্ঞা, বৈশিষ্ট্য, পার্থক্য ইত্যাদি নির্দেশকের মাধ্যমে
                                    পৃথককরণ
                                </li>
                                <li>
                                    বোর্ড ও এডমিশন প্রশ্ন-সমাধান ব্যাখ্যাসহকারে বিশ্লেষণ
                                </li>
                                <li>প্র্যাকটিস ও গাণিতিক সমস্যাবলি সংযোজন</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-1">Datails</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/1%20(1).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                মেডিকেল + ভার্সিটি Math এডমিশন প্রোগ্রাম 2025
                            </h5>
                            <ul class="card-text mx-0">
                                <li>মেধাবী ও অভিজ্ঞ শিক্ষক দ্বারা ক্লাস</li>
                                <li>লাইভ ম্যারাথন ক্লাস</li>
                                <li>প্রশ্নব্যাংক মাস্টার ক্লাস ও কুইজ</li>
                                <li>পর্যাপ্ত সংখ্যক স্ট্যান্ডার্ড এক্সাম</li>
                                <li>মানসম্মত সকল স্টাডি ম্যাটেরিয়ালস</li>
                                <li>ডাউট সলভিংয়ে সার্বক্ষণিক Q & A সেবা</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-2">Offline</button>
                            <button class="program-btn-3">Online/Combo</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card rounded-4 h-100">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/program/2025/zz%20(3).png"
                             class="card-img-top rounded-top-4"
                             alt="..." />
                        <div class="card-body">
                            <h5 class="card-title ms-1 fs-4 fw-bold">
                                ইঞ্জিনিয়ারিং + Biology এডমিশন প্রোগ্রাম 2025
                            </h5>
                            <ul class="card-text mx-0">
                                <li>মেধাবী ও অভিজ্ঞ শিক্ষক দ্বারা ক্লাস</li>
                                <li>লাইভ ম্যারাথন ক্লাস</li>
                                <li>প্রশ্নব্যাংক মাস্টার ক্লাস ও কুইজ</li>
                                <li>পর্যাপ্ত সংখ্যক স্ট্যান্ডার্ড এক্সাম</li>
                                <li>মানসম্মত সকল স্টাডি ম্যাটেরিয়ালস</li>
                                <li>ডাউট সলভিংয়ে সার্বক্ষণিক Q & A সেবা</li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-0 d-flex justify-content-around">
                            <button class="program-btn-2">Offline</button>
                            <button class="program-btn-3">Online/Combo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Success -->

    <section class="success-container">
        <div class="container-lg">
            <h1 class="text-center py-lg-5 py-md-4 py-sm-3 py-2 fw-bold">
                অবাক করা সাফল্যগাঁথা
            </h1>

            <div id="carouselExampleCaptions"
                 class="carousel slide"
                 data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/SuccessSlider/BUET2410Top10Success2.png"
                             class="d-block w-100 rounded"
                             alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/SuccessSlider/Med24Top20Success2.png"
                             class="d-block w-100 rounded"
                             alt="..." />
                    </div>
                    <div class="carousel-item">
                        <img src="https://udvash-unmesh.com//media/Images/Udvash/SuccessSlider/DU24Success.png"
                             class="d-block w-100 rounded"
                             alt="..." />
                    </div>
                </div>
                <div class="carousel-indicators carousel-indicator">
                    <button type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1"></button>
                    <button type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
            </div>

            <div id="success-counter"
                 class="row row-cols-2 row-cols-md-4 g-2 p-4">
                <div class="card col align-items-center border-0 bg-transparent">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Counter/buet.png"
                         class="card-img-top w-50 h-auto"
                         alt="..." />
                    <div class="card-body text-center">
                        <h1 class="success-card-title">
                            <span class="success-title-count">1300</span>+
                        </h1>
                        <p class="card-text fs-5">
                            ২০২৪ BUET ভর্তি পরীক্ষায় মেধা তালিকায় প্রথম ৫০ এ ৪৮ জনসহ
                            ১৩০৯টি আসনের মধ্যে উদ্ভাস থেকে চান্স পেয়েছে সর্বমোট ১৩০০+
                            শিক্ষার্থী।
                        </p>
                    </div>
                </div>
                <div class="card col align-items-center border-0 bg-transparent">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Counter/medical.png"
                         class="card-img-top w-50 h-auto"
                         alt="..." />
                    <div class="card-body text-center">
                        <h1 class="success-card-title">
                            <span class="success-title-count">4805</span>+
                        </h1>
                        <p class="card-text fs-5">
                            ২০২৪ মেডিকেল ভর্তি পরীক্ষায় জাতীয় মেধায় প্রথম ২০ এ ২০ জন এবং
                            DMC-তে ২৩৯ জনসহ সরকারি মেডিকেল ও ডেন্টাল কলেজে উন্মেষ থেকে
                            চান্স পেয়েছে সর্বমোট ৪৮০৫+ শিক্ষার্থী।
                        </p>
                    </div>
                </div>
                <div class="card col align-items-center border-0 bg-transparent">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Counter/dhabi.png"
                         class="card-img-top w-50 h-auto"
                         alt="..." />
                    <div class="card-body text-center">
                        <h1 class="success-card-title">
                            <span class="success-title-count">1800</span>+
                        </h1>
                        <p class="card-text fs-5">
                            ২০২৪ ঢাবি ‘ক’ ইউনিটের ভর্তি পরীক্ষায় মেধা তালিকায় প্রথম ১০ এ
                            ১০ জনসহ ১৮৯৬ আসনের মধ্যে উদ্ভাস থেকে চান্স পেয়েছে সর্বমোট
                            ১৮০০+ শিক্ষার্থী।
                        </p>
                    </div>
                </div>
                <div class="card col align-items-center border-0 bg-transparent">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Counter/DUKha.png"
                         class="card-img-top w-50 h-auto"
                         alt="..." />
                    <div class="card-body text-center">
                        <h1 class="success-card-title">
                            <span class="success-title-count">1250</span>+
                        </h1>
                        <p class="card-text fs-5">
                            ২০২৪ ঢাবি ‘খ’ ইউনিটের ভর্তি পরীক্ষায় মেধা তালিকায় প্রথম ১০ এ ৭
                            জনসহ ২৯৩৪ আসনের মধ্যে প্রথম বছরেই উদ্ভাস থেকে চান্স পেয়েছে
                            সর্বমোট ১২৫০+ শিক্ষার্থী।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial Section  -->

    <section class="testimonial-container">
        <div class="container-lg text-center">
            <span class="fw-bold d-block d-md-none fs-1 my-3">
                সফল যারা, কেমন তারা?
            </span>
            <span class="fw-bold d-none d-md-block display-3 my-5">
                সফল যারা, কেমন তারা?
            </span>

            <div class="row row-cols-1 row-cols-md-3 selec-testimonial-cards">
                <div class="col mb-5">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/1EAPTestimonial24.png"
                             alt="Tofayel" />
                        <h3>তোফায়েল আহমেদ</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>BUET ১ম</h2>
                        <p>
                            আমি উদ্ভাস এর এডমিশন’২৩ ব্যাচের সাথে সিলেবাস অনেকটা এগিয়ে
                            রেখেছিলাম। এরপর এডমিশন’২৪ ব্যাচের শুরু থেকেই উদ্ভাসের সঙ্গে
                            ছিলাম। ভর্তির পর ধাপে ধাপে উদ্ভাসের সব ম্যাটেরিয়ালস শেষ করেছি।
                            নিয়মিত ক্লাসও করেছি, কোনো ক্লাস বা পরীক্ষা কখনো মিস দিইনি।
                            পাশাপাশি, উদ্ভাসের অনলাইন ও প্র্যাকটিস এক্সামগুলোও দিতাম। আর
                            ম্যারাথন ক্লাসগুলো আমার প্রত্যাশার চেয়েও অনেক বেশি কার্যকর
                            ছিল। তাই জুনিয়রদের জন্য আমার পরামর্শ—নিয়মিত ক্লাস ও পরীক্ষায়
                            অংশগ্রহণ করো, প্রতিদিনের পড়া প্রতিদিন শেষ করো। নিজের প্রতি
                            আত্মবিশ্বাস রাখো, কারণ সেটাই তোমাকে এগিয়ে নেবে।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/2EAPTestimonial24.png"
                             alt="Tofayel" />
                        <h3>সজীব আহমেদ রুহিত</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>BUET ২য়</h2>
                        <p>
                            আমি এডমিশন জার্নির শুরু থেকেই উদ্ভাসের সাথে ছিলাম। তখন অনলাইনে
                            উদ্ভাসের ম্যারাথন ক্লাসগুলো করতাম আর অফলাইনে বেশি বেশি এক্সাম
                            দিতাম। পাশাপাশি উদ্ভাসের রেকর্ডেড ক্লাসগুলো দেখতাম। গুণগত
                            মানের দিক থেকে ‍উদ্ভাসের ক্লাসগুলো অনেক ভালো ছিল। আগে যে
                            টপিকগুলোতে আমার ঘাটতি ছিল উদ্ভাসের ক্লাসগুলোর মাধ্যমে সেগুলো
                            কাভার করতে পেরেছিলাম। এছাড়াও আমার কাছে উদ্ভাসের এক্সাম
                            সিস্টেমটা অনেক ভালো লেগেছে, যা আমার প্রস্তুতিতে অনেক সাহায্য
                            করেছে। অনুজদের জন্য পরামর্শ হলো, শুরু থেকেই মূল টেক্সট বই ভালো
                            করে শেষ করতে হবে এবং বেশি বেশি প্র্যাকটিস করতে হবে।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/3EAPTestimonial24.png"
                             alt="Tofayel" />
                        <h3>এস.এ.এম তামিম</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>BUET ৩য়</h2>
                        <p>
                            এডমিশনের শুরু থেকেই আমি উদ্ভাসের ফুল কোর্সে ভর্তি ছিলাম। আমি
                            উদ্ভাসের প্রতিটি ক্লাস-পরীক্ষায় অংশগ্রহণ করতাম। আমার
                            প্রস্তুতিতে যে ঘাটতি ছিল উদ্ভাসে বেশি বেশি এক্সাম দেওয়ার
                            মাধ্যমে সেগুলো শুধরে নিতে পেরেছিলাম। বিশেষ করে, উদ্ভাসের
                            ম্যারাথন ক্লাস ও মাস্টার প্রশ্নব্যাংক আমার প্রস্তুতিতে অনেক
                            সাহায্য করেছে। জুনিয়রদের উদ্দেশ্যে বলতে চাই, এডমিশন টেস্টে
                            ভালো করতে হলে পড়াশোনার ক্ষেত্রে রেগুলারিটি মেইনটেইন করে
                            প্রতিদিনের পড়া প্রতিদিন শেষ করতে হবে। এছাড়াও আমি মনে করি,
                            মূলবই ও প্রশ্নব্যাংকগুলো নিয়মিত ভালোভাবে পড়লে ভর্তি পরীক্ষায়
                            ভালো করা সম্ভব।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>

                <div class="col mb-5 d-none">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/24VAPTestimonial1.png"
                             alt="Tofayel" />
                        <h3>Md. Hasan Wasif</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>ঢাবি ‘ক’ ১ম</h2>
                        <p>
                            এডমিশন জার্নির শুরু থেকেই আমি উদ্ভাসের প্রতিটি ক্লাস-পরীক্ষায়
                            অংশগ্রহণ করতাম। আমি এডমিশনের শুরু থেকেই মূল বইয়ের পাশাপাশি
                            উদ্ভাসের কনসেপ্ট বুক, প্রশ্নব্যাংকসহ অন্যান্য সহায়ক বইগুলো
                            ভালোভাবে পড়েছিলাম। বিশেষ করে, উদ্ভাসের প্রশ্ন প্যাটার্ন অনেক
                            মানসম্মত ছিল, যা আমার প্রস্তুতি যাচাইয়ে অনেক সাহায্য করেছে।
                            জুনিয়রদের উদ্দেশ্যে পরামর্শ হলো, আগে থেকেই এডমিশনের সিলেবাস
                            এবং বিগত বছরগুলোতে যে টপিকগুলো থেকে প্রশ্ন এসেছে সেগুলো
                            সম্পর্কে ভালোভাবে ধারণা রাখতে হবে। পাশাপাশি মূল বইয়ের প্রতিটি
                            টপিকের কনসেপ্ট ভালোভাবে ক্লিয়ার করে পড়াশোনা করলে ভর্তি
                            পরীক্ষায় ভালো করা সম্ভব।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>

                <div class="col mb-5 d-none">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/24VAPTestimonial2.png"
                             alt="Tofayel" />
                        <h3>Md. Ridwan</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>ঢাবি ‘ক’ ২য়</h2>
                        <p>
                            এইচএসসি মডেল টেস্টের মাধ্যমে উদ্ভাসের সাথে আমার জার্নি শুরু
                            হয়। এডমিশন পিরিয়ডের শুরু থেকেই আমি নিয়মিত উদ্ভাস এ ক্লাস করতাম
                            এবং বেশি বেশি পরীক্ষার মাধ্যমে নিজের চিহ্নিত ভুলগুলো শুধরে
                            নিতে পেরেছিলাম। এছাড়া উদ্ভাসের ম্যারাথন ক্লাসগুলো সফলতা লাভের
                            ক্ষেত্রে আমাকে অনেক সাহায্য করেছে। অনুজদের উদ্দেশ্যে পরামর্শ
                            হলো, যেহেতু ভর্তি পরীক্ষায় এইচএসসি বোর্ড পরীক্ষার রেজাল্ট অনেক
                            গুরুত্বপূর্ণ, তাই এইচএসসি বোর্ড পরীক্ষার পূর্বেই বেশি বেশি
                            মডেল টেস্ট দিতে হবে। এছাড়া প্রতিটি টপিকের কনসেপ্ট ক্লিয়ার রেখে
                            মূলবই এবং প্রশ্নব্যাংক ভালোভাবে সলভ করতে হবে।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>

                <div class="col mb-5 d-none">
                    <div class="testimonial-card">
                        <img class="card-image"
                             src="https://udvash-unmesh.com//media/Images/Udvash/Testimonial/2024/24VAPTestimonial3.png"
                             alt="Tofayel" />
                        <h3>Arshiya Nawar</h3>
                        <h5>ভর্তি পরীক্ষা: ২০২৪-২৫</h5>
                        <h2>ঢাবি ‘ক’ ৩য়</h2>
                        <p>
                            উদ্ভাসের এইচএসসি মডেল টেস্ট কোর্সে ভর্তির মাধ্যমে উদ্ভাসের
                            সাথে আমার পথচলা শুরু হয়। এইচএসসি মডেল টেস্ট শেষে আমি উদ্ভাসের
                            এডমিশন প্রোগ্রামে ভর্তি হই। নিয়মিত উদ্ভাসে ক্লাস করার পাশাপাশি
                            আমি বেশি বেশি এক্সাম দিতাম। আমি শুরু থেকেই উদ্ভাসের কনসেপ্ট
                            বুক ভালোভাবে পড়েছিলাম। এছাড়া উদ্ভাসের ম্যারাথন ক্লাস এবং Q&A
                            সার্ভিস আমার এডমিশন প্রস্তুতিতে অনেক হেল্প করেছে। আমি মনে করি,
                            এডমিশন টেস্টে ভালো করতে হলে এইচএসসির শুরু থেকেই মূল বইয়ের
                            প্রতিটি কনসেপ্ট ক্লিয়ার করে পড়তে হবে এবং বেশি বেশি পরীক্ষার
                            দিয়ে ভুলগুলো শুধরে নিতে হবে।
                        </p>
                        <img class="card-logo"
                             src="https://udvash.com/media/Images/UDVASH/Testimonial/udvashAfter.png"
                             alt="Logo" />
                        <hr />
                    </div>
                </div>
            </div>

            <button id="testimonial-btn" class="btn-navbar">
                আরও দেখুন <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
    </section>

    <!-- Video Section  -->
    <section class="video-container">
        <div class="container-lg text-center">
            <div style="color: #f0532d">
                <span class="fw-bold d-block d-md-none fs-2 pt-1">
                    BUET মেধাতালিকায় ১ম
                </span>
                <span class="fw-bold d-none d-md-block display-5 pt-5">
                    BUET মেধাতালিকায় ১ম
                </span>
            </div>
            <div style="color: #6585e3">
                <span class="fw-bold d-block d-md-none fs-1 py-1">
                    কেমন ছিল তোফায়েলের পথচলা?
                </span>
                <span class="fw-bold d-none d-md-block display-4 py-3">
                    কেমন ছিল তোফায়েলের পথচলা?
                </span>
            </div>

            <div class="video-container-box">
                <iframe class="rounded"
                        width="560"
                        height="315"
                        src=""
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                <div class="video-container-img">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Thumbnail/BUET241stThumbnail1.png"
                         alt="" />
                    <div class="play-icon">
                        <i class="fa-solid fa-play fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section  -->
    <section class="services-container">
        <div class="container-lg">
            <span class="fw-bold d-block d-md-none fs-1 py-3"
                  style="color: #6abe45">
                অনন্য সব সেবা পরিক্রমা
            </span>
            <span class="fw-bold d-none d-md-block display-3 py-5"
                  style="color: #6abe45">
                অনন্য সব সেবা পরিক্রমা
            </span>

            <div class="row row-cols-2 row-cols-md-4 pb-3 pb-md-5 gy-5">
                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/Udvash/Common/onlineofline.png"
                         alt="" />
                    <p class="mt-2 fs-5">অফলাইন/অনলাইন প্রোগ্রাম</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/materials.png"
                         alt="Materials" />
                    <p class="mt-2 fs-5">মানসম্মত স্টাডি ম্যাটেরিয়ালস</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/concept.png"
                         alt="Class" />
                    <p class="mt-2 fs-5">কনসেপ্ট বেইজড ক্লাস</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/unique.png"
                         alt="System" />
                    <p class="mt-2 fs-5">ইউনিক এক্সাম সিস্টেম</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/Q%20&%20A.png"
                         alt="Q&A" />
                    <p class="mt-2 fs-5">সার্বক্ষণিক Q&A সেবা</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/sms.png"
                         alt="Result" />
                    <p class="mt-2 fs-5">Auto SMS রেজাল্ট</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/analysis.png"
                         alt="Report" />
                    <p class="mt-2 fs-5">এক্সাম এনালাইসিস রিপোর্ট</p>
                </div>

                <div class="col">
                    <img src="https://udvash-unmesh.com//media/Images/UDVASH/Common/teacher.png"
                         alt="Teacher" />
                    <p class="mt-2 fs-5">মেধাবী ও অভিজ্ঞ শিক্ষক</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Easy Written Section  -->

    <section class="easy-written-section">
        <div class="container-lg">
            <div class="row row-cols-1 row-cols-sm-2 py-3 py-md-5 align-items-center">
                <div class="col order-1 order-sm-0">
                    <p style="color: #6abe45"
                       class="fs-5 fw-bold text-center d-md-none">
                        দেশব্যাপী
                    </p>
                    <div class="col order-1 order-sm-0">
                        <p style="color: #6abe45"
                           class="display-5 fw-bold d-none d-md-block">
                            দেশব্যাপী
                        </p>
                        <p style="color: #6abe45"
                           class="fs-4 fw-bold text-center d-md-none">
                            সকল শাখায় সমান সেবা
                        </p>
                        <p></p>
                        <p style="color: #6abe45"
                           class="display-4 fw-bold d-none d-md-block">
                            সকল শাখায় সমান সেবা
                        </p>
                        <p class="fs-6 d-md-none text-justify">
                            দেশব্যাপী উদ্ভাস-উন্মেষ এর সকল শাখায় সমান সেবা প্রদান করা হয়।
                            অভিন্ন প্রশ্নপত্রে সকল শাখায় পরীক্ষা নেওয়া হয়। সকল উত্তরপত্র
                            মূল্যায়ন করা হয় এক জায়গা থেকে এবং একই Solve Sheet সকল
                            শিক্ষার্থীকে প্রদান করা হয়। একই টিচার সকল শাখায় ঘুরে ঘুরে
                            ক্লাস নিয়ে থাকেন। অনলাইন Software-এর মাধ্যমে সকল শিক্ষার্থীর
                            মেধাতালিকা প্রণয়ন করা হয়। ফলে একজন শিক্ষার্থী উদ্ভাস-উন্মেষ এর
                            যেকোনো শাখা থেকে পরীক্ষা দিয়েই দেশব্যাপী সকল শিক্ষার্থীর মধ্যে
                            নিজের অবস্থান সম্পর্কে জানতে পারে।
                        </p>
                        <p class="fs-5 d-none d-md-block text-justify">
                            দেশব্যাপী উদ্ভাস-উন্মেষ এর সকল শাখায় সমান সেবা প্রদান করা হয়।
                            অভিন্ন প্রশ্নপত্রে সকল শাখায় পরীক্ষা নেওয়া হয়। সকল উত্তরপত্র
                            মূল্যায়ন করা হয় এক জায়গা থেকে এবং একই Solve Sheet সকল
                            শিক্ষার্থীকে প্রদান করা হয়। একই টিচার সকল শাখায় ঘুরে ঘুরে
                            ক্লাস নিয়ে থাকেন। অনলাইন Software-এর মাধ্যমে সকল শিক্ষার্থীর
                            মেধাতালিকা প্রণয়ন করা হয়। ফলে একজন শিক্ষার্থী উদ্ভাস-উন্মেষ এর
                            যেকোনো শাখা থেকে পরীক্ষা দিয়েই দেশব্যাপী সকল শিক্ষার্থীর মধ্যে
                            নিজের অবস্থান সম্পর্কে জানতে পারে।
                        </p>
                    </div>
                </div>
                <div class="col">
                    <img class="w-100 h-auto"
                         src="https://udvash-unmesh.com/media/Images/Udvash/Common/Mask%20Group%2028256.png"
                         alt="" />
                </div>
            </div>
        </div>
    </section>

    <!-- Easy Written Section  -->

    <section class="hasle-free-section">
        <div class="container-lg">
            <div class="row row-cols-1 row-cols-sm-2 py-3 py-md-5 align-items-center">
                <div class="col">
                    <img class="w-100 h-auto"
                         src="https://udvash-unmesh.com/media/Images/UDVASH/Common/prostuti.png"
                         alt="" />
                </div>
                <div class="col order-1 order-sm-0">
                    <p style="color: #f0532d"
                       class="fs-5 fw-bold text-center d-md-none">
                        যেমনই হোক পরিস্থিতি
                    </p>
                    <div class="col order-1 order-sm-0">
                        <p style="color: #f0532d"
                           class="display-5 fw-bold d-none d-md-block">
                            যেমনই হোক পরিস্থিতি
                        </p>
                        <p style="color: #995699"
                           class="fs-4 fw-bold text-center d-md-none">
                            থেমে থাকবে না প্রস্তুতি
                        </p>
                        <p></p>
                        <p style="color: #995699"
                           class="display-4 fw-bold d-none d-md-block">
                            থেমে থাকবে না প্রস্তুতি
                        </p>
                        <p class="fs-6 d-md-none text-justify">
                            নিজস্ব সফট্ওয়্যার টিমের সার্বক্ষণিক তত্ত্বাবধানে উদ্ভাস-উন্মেষ
                            এর রয়েছে দেশসেরা অনলাইন লার্নিং প্ল্যাটফর্ম
                            <span style="color: #772397">(online.udvash-unmesh.com)</span>। কোভিড-১৯ মহামারী অথবা যেকোনো সরকারি বিধি-নিষেধের কারণে
                            শিক্ষা প্রতিষ্ঠান বন্ধ থাকলে সকল কার্যক্রম অনলাইনে চলমান
                            থাকবে। ফলে শিক্ষার্থীদের ধারাবাহিক প্রস্তুতিতে কোনো প্রকার
                            বিঘ্ন ঘটবে না। বিভিন্ন ভর্তি পরীক্ষায় উদ্ভাস-উন্মেষ এর
                            শিক্ষার্থীদের ঈর্ষণীয় সাফল্যই তার উৎকৃষ্ট প্রমাণ। উল্লেখ্য যে,
                            অনলাইনেও শিক্ষার্থীদের সুষম প্রস্তুতি নিশ্চিতকরণে MCQ পরীক্ষার
                            পাশাপাশি বাংলাদেশে একমাত্র উদ্ভাস উন্মেষ-ই অফলাইনে Written
                            পরীক্ষার অনুরূপ অনলাইনে Written পরীক্ষা নিয়ে থাকে।
                        </p>
                        <p class="fs-5 d-none d-md-block text-justify">
                            নিজস্ব সফট্ওয়্যার টিমের সার্বক্ষণিক তত্ত্বাবধানে উদ্ভাস-উন্মেষ
                            এর রয়েছে দেশসেরা অনলাইন লার্নিং প্ল্যাটফর্ম
                            <span style="color: #772397">(online.udvash-unmesh.com)</span>। কোভিড-১৯ মহামারী অথবা যেকোনো সরকারি বিধি-নিষেধের কারণে
                            শিক্ষা প্রতিষ্ঠান বন্ধ থাকলে সকল কার্যক্রম অনলাইনে চলমান
                            থাকবে। ফলে শিক্ষার্থীদের ধারাবাহিক প্রস্তুতিতে কোনো প্রকার
                            বিঘ্ন ঘটবে না। বিভিন্ন ভর্তি পরীক্ষায় উদ্ভাস-উন্মেষ এর
                            শিক্ষার্থীদের ঈর্ষণীয় সাফল্যই তার উৎকৃষ্ট প্রমাণ। উল্লেখ্য যে,
                            অনলাইনেও শিক্ষার্থীদের সুষম প্রস্তুতি নিশ্চিতকরণে MCQ পরীক্ষার
                            পাশাপাশি বাংলাদেশে একমাত্র উদ্ভাস উন্মেষ-ই অফলাইনে Written
                            পরীক্ষার অনুরূপ অনলাইনে Written পরীক্ষা নিয়ে থাকে।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Footer  -->

<footer style="background-color: #532356; color: white">
    <div class="container-lg py-3 py-md-5">
        <div class="row">
            <div class="col-12 col-md-5">
                <img src="https://udvash.com/media/Images/UDVASH/Common/footer-logo.png"
                     alt="Logo" />
            </div>
            <div class="col-12 col-md-2">
                <h3>Help</h3>
                <a class="text-decoration-none text-light d-block my-3" href="#">About Us</a>
                <a class="text-decoration-none text-light d-block my-3" href="#">Branch List</a>
                <a class="text-decoration-none text-light d-block my-3" href="#">Privacy Policy</a>
                <a class="text-decoration-none text-light d-block my-3" href="#">Terms & Conditions</a>
            </div>
            <div class="col-12 col-md-2">
                <h3>Explore</h3>
                <a class="text-decoration-none text-light d-block my-3" href="#">Programs</a>
                <a class="text-decoration-none text-light d-block my-3" href="#">
                    Teacher Registration
                </a>
                <a class="text-decoration-none text-light d-block my-3" href="#">Book Correction</a>
            </div>
            <div class="col-12 col-md-3">
                <h3>Get In Touch</h3>
                <p class="my-3">
                    Address: 78, Green Road (3rd Floor), Farmgate, Tejgaon, Dhaka-1205
                </p>
                <p class="my-3">
                    Helpline:
                    <a class="text-decoration-none text-light my-3"
                       href="tel:09666775566">
                        09666775566
                    </a>
                </p>
                <p class="my-3">
                    Email:
                    <a class="text-decoration-none text-light my-3"
                       href="mailto:info@udvash-unmesh.com">
                        info@udvash-unmesh.com
                    </a>
                </p>

                <div class="d-flex align-items-center gap-3">
                    <a href="#">
                        <img src="https://unmesh.com/media/Images/Unmesh/facebook.png"
                             alt="FB" />
                    </a>
                    <a href="#">
                        <img src="https://unmesh.com/media/Images/Unmesh/youtube.png"
                             alt="FB" />
                    </a>
                    <a href="#">
                        <img src="https://unmesh.com/media/Images/Unmesh/instagram.png"
                             alt="FB" />
                    </a>
                    <a href="#">
                        <img src="https://unmesh.com/media/Images/Unmesh/linkedIn.png"
                             alt="FB" />
                    </a>
                </div>
            </div>
        </div>

        <hr class="d-block my-4" />

        <p class="text-center small">
            Copyright © Udvash Academic & Admission Care. All rights reserved.
            2025
        </p>
    </div>
</footer>

